---
import Icon from "@/components/Icon/Icon.astro"
import './Button.scss'

interface Props {
  className?: string;
  isDisabled?: boolean;
  label: string;
  isLabelHidden?: boolean;
  target?: string;
  type?: 'button' | 'submit' | 'reset';
  mode?: '' | 'transparent' | 'black';
  iconName?: string;
  iconPosition?: 'before' | 'after';
  href?: string;
  extraAttrs?: Record<string, any>;
}

const {
  className = '',
  isDisabled = false,
  label,
  isLabelHidden = false,
  target,
  type = 'button',
  mode = '',
  iconName = '',
  iconPosition = 'after',
  href,
  extraAttrs,
} = Astro.props

const isLink = href !== undefined
const Component = isLink ? 'a' : 'button'
const linkProps = {href, target}
const buttonProps = {type}
const specificProps = isLink ? linkProps : buttonProps
const title = isLabelHidden ? label : undefined
---

<Component
  class:list={[className, 'button', {
    [`button--${mode}`]: mode,
  }]}
  disabled={isDisabled}
  title={title}
  aria-label={title}
  {...specificProps}
  {...extraAttrs}
>
  {iconName && iconPosition === 'before' && (
    <Icon name={iconName} />
  )}

  {!isLabelHidden && (
    <span class="button__label">{label}</span>
  )}

  {iconName && iconPosition === 'after' && (
    <Icon name={iconName} />
  )}
</Component>
