---
import Layout from '@/layouts/Layout.astro'
import AccordionGroup from '@/components/AccordionGroup/AccordionGroup.astro'
import Accordion from '@/components/Accordion/Accordion.astro'
import SecondarySection from '@/components/Section/SecondarySection/SecondarySection.astro'
import { getChapters } from '@/module/getChapters'

const chapters = await getChapters()
---

<Layout title='Оглавление'>
  <SecondarySection
    neonStroke={false}
    title='Оглавление'
  >
    <AccordionGroup>
      {
        chapters.map((chapter) => (
          <li class='accordion-group__item'>
            <Accordion
              title={chapter.title}
              id={chapter.title}
            >
              <div class='links'>
                {chapter.lessons.map(({ href, label }) => (
                  <a
                    class='link'
                    href={href}
                  >
                    {label}
                  </a>
                ))}
              </div>
            </Accordion>
          </li>
        ))
      }
    </AccordionGroup>
  </SecondarySection>
</Layout>

<style lang='scss'>
  .links {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    justify-items: start;
    padding-inline: 5px;

    .link {
      position: relative;
      display: flex;
      gap: 10px;
      align-items: center;
      break-inside: avoid;

      @include hover {
        color: var(--neon-blue);
      }

      &:visited {
        color: var(--neon-green);

        @include hover {
          color: var(--text-primary);
        }

        &::before {
          background-color: var(--neon-green);
        }
      }
    }

    a::before {
      @include square(10px);

      display: block;
      flex-shrink: 0;
      content: '';
      background-color: currentcolor;
      border-radius: 50%;
      box-shadow: 0 0 5px 1px currentcolor;
    }
  }
</style>

<style is:global>
  .section__header,
  .accordion-group__item {
    pointer-events: none;
    opacity: 0;
  }
</style>

<script>
  import { gsap } from 'gsap'
  import { TextPlugin } from 'gsap/TextPlugin'
  gsap.registerPlugin(TextPlugin)

  const tl = gsap.timeline()

  tl.fromTo(
    '.section__header',
    {
      y: 20,
    },
    {
      opacity: 1,
      y: 0,
      duration: 1,
      ease: 'power4.inOut',
    }
  ).to('.accordion-group__item', {
    opacity: 1,
    duration: 0.5,
    stagger: 0.1,
    ease: 'power1.inOut',

    onStart: () => {
      gsap.set('.accordion-group__item', { pointerEvents: 'none' })
    },

    onComplete: () => {
      gsap.set('.accordion-group__item', { pointerEvents: 'auto' })
    },
  })
</script>
