---
import {Icon} from 'astro-icon/components'
import './OverlayMenu.scss'
import Button from "@/components/Button/Button.astro"

const {currentUrl} = Astro.props

const menuLinks = [
  {href: '/', label: 'Главная', icon: 'overlay-menu/star',},
  {href: '/text-book', label: 'Учебник', icon: 'overlay-menu/book',},
  {href: '/editor', label: 'Редактор', icon: 'overlay-menu/code',},
]
---

<div
  id="full-screen-menu"
  class="overlay-menu"
>
  <nav class="overlay-menu__nav">
    {menuLinks.map(({href, label, icon}) => (
      <a
        class:list={['overlay-menu__link', {
          'is-active': href === currentUrl,
        }]}
        href={href}
      >
        <Icon name={icon} />
        {label}
      </a>
    ))}

    <Button
      label="Закрыть"
      iconName="overlay-menu/close"
      iconPosition="before"
      mode="black"
      extraAttrs={{id: 'menu-close-btn'}}
    />
  </nav>
</div>
